@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'OpenSans';
}

body {
  font-family: 'OpenSans';
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  color: white;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text);
}

button {
  padding: 0px
}

.container {
  max-width: 1920px;
  padding-left: 160px;
  padding-right: 160px;
}

.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

:root {
  --focus: #7943A4;
  --hover: #C283F3;
  --active: #7943A4;
  --button: #9D5CD0;
  --text: #333333;
}

/* header */

.header__container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header__logo {
  max-width: 173px;
  height: 40px;
  cursor: pointer;
}

.header__logo:focus-visible {
  outline: 5px solid var(--focus);
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-right: 62px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: white;
  transition: color .3s ease;
}

.nav__link:focus-visible {
  background-color: var(--focus);
  outline: 3px solid var(--focus);
}

.nav__link:hover {
  color: var(--hover);
}

.nav__link:active {
  color: var(--active);
}

.header__bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 150px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.header__bottom-container {
  padding: 23px 0 28px 160px;
}

.header__enter {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: white;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  transition: color .3s ease;
}

.header__enter:focus-visible {
  background-color: var(--focus);
  outline: 3px solid var(--focus);
}

.header__enter:hover {
  color: var(--hover);
}

.header__enter:active {
  color: var(--active);
}

.header__enter svg path {
  transition: fill .3s ease;
}

.header__enter:hover svg path {
  fill: var(--hover);
}

.header__enter:active svg path {
  fill: var(--active);
}

.header__enter-svg {
  margin-right: 4px;
}

.header__list {
  display: flex;
  position: relative;
}

.header__item {
  margin-right: 97px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__item-button {
  background-color: transparent;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: white;
}

.header__dropdown {
  display: none;
  background-color: #000;
  color: #fff;
  width: 200px;
  position: absolute;
  top: 40px;
}

.active-header__item {
  display: block;
}

.header__item-button.active-btn:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  left: 0;

  animation: anim 2s infinite ease-in-out;
}

.header__search {
  padding: 23px 160px 23px 0;
}

.header__search input {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: white;
  border: 0;
  border-bottom: 2px solid white;
  outline: none;
  background: transparent;
  transition: border-bottom .3s ease;
}

.header__search input:hover {
  border-bottom: 2px solid var(--hover);
}

.header__search input:focus-visible {
  border-bottom: 2px solid var(--hover);
}

.header__search input:active {
  border-bottom: 2px solid var(--active);
}

.header__form {
  position: relative;
}

.header__search button {
  position: absolute;
  left: -30px;
  bottom: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* section-hero */

.section-hero__container {
  min-height: 700px;
  background-image: url(../img/hero-1.png);
  background-size: cover;
}

.section-hero__main {
  padding: 126px 0 122px;
}

.section-hero__text {
  display: flex;
  flex-direction: column;
}

.section-hero__paragraph {
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.section-hero__button {
  height: 70px;
  padding: 17px 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: white;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  background-color: var(--button);
}

.section-hero__button:hover {
  border:3px solid #D1A9F0;
}

.section-hero__button:focus-visible {
  outline: 0;
  border: 2px solid var(--hover);
  box-sizing: border-box;
  border-radius: 100px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.section-hero__button:active {
  background-color: var(--active);
}

/* section about-us */

.section-about-us__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-about-us__paragraph {
  max-width: 1080px;
}

.section-about-us__h2 {
  margin-bottom: 30px;
}

/* section gallery */

.section-gallery {
  background-image: url(../img/gallery.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-gallery__container {
  min-height: 995px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-gallery__h2 {
  margin-bottom: 30px;
  color: white;
}

.section-gallery__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-gallery__left-top p {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: white;
}

.choices {
  width: 400px;
}

.choices.is-open {
  background-color: transparent;
}

.choices__inner {
  font-weight: 400;
  color: white;
  border-radius: 6px;
  background-color: transparent;
}

.choices.is-open {
  border-radius: 6px;
}

.choices__list--dropdown {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: white;
  background-color: transparent;
}

.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  z-index: 3;
  top: 40%;
  border: 1px solid white;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);

}

.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border: 1px solid white;
  border-width: 1px 1px 0 0;
}

.choces__item.is-active {
  background-color: black;
}

.section-gallery__paragraph {
  color: white;
}

@keyframes anim {
  0% {
    transform: scaleX(0)  translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
  }
  100% {
    transform: scaleX(0) translateX(50%);
    opacity: 0;
  }
}


